.main{
    flex: 8.5;
    text-align: center;
    margin: 15px;
}
.header{
    display: flex;
}
.header button{
    margin-left: 50px;
    border: none;
    font-size: large;
    background: none;
    cursor: pointer;
}
.header h2{
    margin-bottom: 5px;
    font-size: xx-large;
}
hr{
    color: #f2f2f2;
    width: 100%;
}
table {
    border-collapse: collapse;
    width: 95%;
    margin: 30px;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    cursor: pointer;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.editButton {
    background-color: green;
    color: white;
    margin: 5px;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

.deleteButton {
    background-color: red;
    color: white;
    margin: 5px;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

.pagination {
    margin-top: 16px;
    text-align: center;
}

.pagination button {
    background-color: black;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 3px;
    margin-left: 8px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #ccc;
}

.pagination button:disabled {
    background-color: #ccc;
}
.add-song{
    margin-top: 30px;
}
.add-song h2{
    margin-bottom: 10px;
}
.add-song form input{
    margin: 5px;
}
.add-song form button{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background: green;
    color: #fff;
}
.edit-song{
    margin-top: 30px;
}
.edit-song h2{
    margin-bottom: 10px;
}
.edit-song form input{
    margin: 5px;
    padding: 5px;
}
.edit-song form button{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background: green;
    color: #fff;
}